@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  Button:hover {
    filter: brightness(90%);
  }
}

.p-badge {
  margin-left: 4px;
}

.imageButton:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.p-galleria {
  align-self: center;
  overflow: hidden;
  border-color: var(--color-border);
  border-width: 1px;
  border-radius: 6px;

  .p-galleria-thumbnail-container {
    background: var(--color-custom-background);

    .p-galleria-thumbnail-item {
      padding: 6px;
    }
  }
}
